/* ==========
 *   Mixins
 * ==========
 */
@mixin rem ($property, $value) {
  #{$property}: $value * 16px;
  #{$property}: #{$value}rem;
}

@mixin clearfix() {
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}

@mixin box-sizing($box-model) {
  -webkit-box-sizing: $box-model; // Safari <= 5
     -moz-box-sizing: $box-model; // Firefox <= 19
          box-sizing: $box-model;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  border-radius: $radius;
  background-clip: padding-box;  /* stops bg color from leaking outside the border: */
}

@mixin bp-large {
  @media only screen and (min-width: 60em) {
    @content;
  }
}

@mixin bp-medium {
  @media only screen and (min-width: 40em) {
    @content;
  }
}

@mixin bp-small {
  @media only screen and (min-width: 30em) {
    @content;
  }
}

/* ================
 *   Main Styles
 * ================
 */

$red-color: #F90012;
$green-color: #AAF200;
$font: 'Didact Gothic', sans-serif;

.main-container {
  position: relative;
 
  .main-background-image {
    display: block;
    @include rem(height,15);
    // background-color: gray;
    background-image: url('../img/cans.jpeg');
    border-bottom: 5px solid $red-color;
  }

  .main-form-container {
    .school-form {
      @include rem(width,15);
      @include rem(height,12);
      margin: -40px auto 10px auto;
      padding: 20px;
      background: $red-color;
      @include border-radius(8px);
      h2 {
        @include rem(font-size,1);
        color: #fff;
        font-family: $font;
        margin: 0;
      }
      ul {
          list-style-type:none;
          list-style-position:outside;
          margin:0px;
          padding:0px;
      }
      li {
          padding: 12px 0; 
          position:relative;
      }
      input {
        height: 40px; 
        width: 100%;
        padding: 5px 8px;
        @include border-radius(5px);
        border: none;
      }
      .submit-button {
        background-color: $green-color;
        color: #445B0D;
        border: none;
        font-weight: bold;
        padding: 6px 20px;
        text-align: center;
        font-family: $font;
      }
    }
  }

  .main-schools-container {
    @include clearfix();
    padding: 3%;
    .success-message h4 {
      @include rem(font-size,1.5);
      color: $red-color;
      font-family: $font;
      text-align: center;
      margin: 0;
    }
    .school-result {
      width: 100%;
      float: left;
      text-align: center;
      font-family: $font;
      @include bp-large {
        width: 33.33%;
      }
      .school-name {
        color: $red-color;
      }
    }
  }
}
